
<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<% @post.categories.each do |cat| %>
    <%= cat.name %>
<% end %>



<% @post.comments.each do |cat| %>
    <%= cat.user.username %> says: <%= cat.content %>
<% end %>

<%= @post.users.uniq.each do |u| %>
    <%= link_to u.username, user_path(u) %>
<% end %>

<%= form_for (@comment = Comment.new) do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %><br /><br />
  <%= f.label "Username" %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %><br /><br />
  <%= f.label "New User:" %>
  <%= f.fields_for :user, @comment.build_user do |user| %>
    <%= user.text_field :username %>
  <% end %><br />
  <br />
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
  <%= f.submit %>
<% end %>

